<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.cave.diarywithloker">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/dirary"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dirary_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appID" />

        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.Details" />
        <activity android:name=".activity.Edit" />
        <activity android:name=".activity.Diary" />
        <activity android:name=".activity.firebase.LoginF" />
        <activity android:name=".activity.firebase.RegistrationF" />
        <activity android:name=".activity.firebase.ResetPassword">

        </activity>

        <activity android:name=".activity.Spalsh_screen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>